* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

section {
    padding: 60px 0;
}

.box {
    padding: 1%;
   /* text-align: justify;
    text-align-last: center; */

}

.box p{
    font-size: 85%;
    line-height: 145%;
    font-weight: 300;
    
}

.features {
    font-family: 'Lato', 'Arial', sans-serif;
}
/*-------------------------------------------*/
/*----------------HEADER--------------------*/
/*-------------------------------------------*/

header {
    background-image: url(Img/banner_3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
        
}

.sub-head{

    color: rgba(255, 255, 255, 0.83);
    margin-bottom: 10px;
    font-weight: 300;
}

/*----------------HEADINGS-------------------*/

h1, h2 {
    letter-spacing: 1px;
    margin-bottom: 12px;
    
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 350%;
    margin-bottom: 12px;
    font-weight: 300
    
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    
}

h3 {
    font-size: 110%;
    margin-bottom: 25px;
    margin-top: 5px;
    font-weight: 400;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    text-align: justify;
    text-align-last: center;
    font-weight: 300
}

.icon-big {
    font-size: 400%;
    display: block;
    color: #9b59b6;

}

/*----------------BUTTONS--------------------*/

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 10px;
    font-weight: 300;
    
    
}



.btn-main:link,
.btn-main:visited{
    background-color: #804398;
    color: #fff;
    
}

.btn:hover,
.btn:active {
    color: #9b59b6;
    background-color: #fff;
    
}

.logo {
    height: 70px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 43px;
    
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: rgba(255, 255, 255, 0.71);
    transition: color 0.2s;
}

.awesome-box:first-child {
    text-align: right;
}

.awesome-box:last-child {
    padding-left: 3%;
    margin-top: 135px;


}


.iphone-image {
    width: 40%;
}

.description {
    margin-bottom: 35px;
    font-size: 110%;
    font-weight: 300

}

.description div {
    color: #9b59b6;
    border: 2px solid #9b59b6;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 5px;
    float: left;

    margin-right: 25px;
}

.section-awesome {
    background-color: #f0efef
}


    